body {
    font-family: Tahoma, Geneva, sans-serif;
    font-size:12px;
}

.heading {
    font-size: 2.5em;
}

a {
    font-size: 2em;
    text-decoration: none;
    color: black;
}

ul {
    list-style-type:none;
}