<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../css/styles.css" type="text/css" rel="stylesheet"/>
</head>
<body>
	<header>
		<h1 class="heading">StyleFinder</h1>
		<nav>
			<ul>
				<li id="home" class="tab"><a href="">Home</a></li>
				<li id="stylists" class="tab"><a href="">Stylists</a></li>
				<li id="salons" class="tab"><a href="">Salons</a></li>
				<li id="signIn" class="tab"><a href="">Sign In/Join</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<div th:each="stylist : ${stylistList}">
			<img src="../images/MK3_9926.jpg"></img>
			<p th:text="${stylist.firstName} +' '+ ${stylist.lastName}"></p>
			<p th:text="${stylist.email}"></p>
			<div th:switch="${stylist.salon}">
				<p th:case="null"></p>
				<p th:case="*" th:text="${stylist.salon.name}"></p>
			</div>
		</div>
		<div th:each="salon : ${salonList}">
			<img src="../images/MK3_9926.jpg"></img>
			<p th:text="${salon.name}"></p>
<!-- 			<p th:text="${salon.services}"></p> -->
		</div>
	</main>
	<footer>
		<p>Created for internal training at Xpanxion</p>
	</footer>
</body>
</html>