<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="css/styles.css" type="text/css" rel="stylesheet"/>
</head>
<body>
	<header>
		<h1 class="heading">StyleFinder</h1>
		<nav>
			<ul>
				<li id="home" class="tab"><a href="">Home</a></li>
				<li id="about" class="tab"><a href="">Stylists</a></li>
				<li id="find" class="tab"><a href="">Salons</a>
					<div class="dropdown">
						<a href="">Stylist</a>
						<a href="">Services</a>
						<a href="">Salons</a>
					</div>
				</li>
				<li id="signIn" class="tab"><a href="">Sign In/Join</a></li>
			</ul>
		</nav>
	</header>
	<footer>
		<p>Created for internal training at Xpanxion</p>
	</footer>
</body>
</html>