<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>StyleFinder : Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" media="screen"/>
</head>
<body>
	<header>
		<h1 class="heading">StyleFinder</h1>
		<nav>
			<ul>
				<li id="home" class="tab"><a href="#" th:href="@{/}">Home</a></li>
				<li id="stylists" class="tab"><a href="">Stylists</a></li>
				<li id="salons" class="tab"><a href="">Salons</a></li>
			</ul>
		</nav>
	</header>
	<main>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
		<form th:action="@{/login}" method="post">
            <div><label> User Name <input type="text" name="username" required="true" autofocus="true"/> </label></div>
            <div><label> Password <input type="password" name="password" required="true"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
	</main>
	<footer>
		<p>Created for internal training at Xpanxion</p>
	</footer>
</body>
</html>