<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>StyleFinder : Logout</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="all" type="text/css" href="../static/css/styles.css" th:href="@{/css/styles.css}"/>
</head>
<body>
	<header>
		<h1 class="heading">StyleFinder</h1>
		<nav>
			<ul>
				<li id="home" class="tab"><a href="#" th:href="@{/}">Home</a></li>
				<li id="stylists" class="tab"><a href="#" th:href="@{/stylists}">Stylists</a></li>
				<li id="salons" class="tab"><a href="#" th:href="@{/salons}">Salons</a></li>
				<li id="signIn" class="tab"><a href="#" th:href="@{/login}">Sign In/Join</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<div>
			<h2>You are now logged out!</h2>
		</div>
	</main>
	<footer>
		<p>Created for internal training at Xpanxion</p>
	</footer>
</body>
</html>