<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title  th:text="'StyleFinder : '+ ${salon.name}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../css/styles.css" type="text/css" rel="stylesheet"/>
</head>
<body>
	<header>
		<h1 class="heading">StyleFinder</h1>
		<nav>
			<ul>
				<li id="home" class="tab"><a href="#" th:href="@{/}">Home</a></li>
				<li id="stylists" class="tab"><a href="">Stylists</a></li>
				<li id="salons" class="tab"><a href="">Salons</a></li>
				<li id="signIn" class="tab"><a href="#" th:href="@{/logout}">Sign Out</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<div>
			<p th:text="${salon.name}"></p>
			<h4 th:text="'Phone: '+ ${salon.phone}"></h4>
			<p th:text="'Address: '+ ${salon.street} +' '+ ${salon.city} +', '+ ${salon.state} +' '+ ${salon.zip}"></p>
		</div>
		<div th:each="stylist : ${salon.stylists}">
			<a href="#" th:href="@{'/stylists/' + ${stylist.licNum}}" th:text="${stylist.firstName} +' '+ ${stylist.lastName}"></a>
		</div>
		<div th:each="service : ${serviceList}">
			<p th:text="${service.description}"></p>
		</div>
	</main>
	<footer>
		<p>Created for internal training at Xpanxion</p>
	</footer>
</body>
</html>